<!--
<div class="body">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="material-icons">email</i></span
                >
              </div>
              <input
                type="email"
                class="form-control"
                placeholder="nom.prenom@gmail.com"
                #email
              />
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="material-icons">person</i></span
                >
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="********"
                #password
              />
            </div>

            <div class="row align-items-center remember"></div>
            <div class="form-group">
              <input
                type="submit"
                value="Login"
                class="btn float-right login_btn"
                (click)="onedit(email.value, password.value, value)"
              />
            </div>
            <div>
              <p (click)="onedit(email.value, password, value)">
                {{ verif }}
              </p>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            nouvaux ici?<a href="#" (click)="newcompte()">cree un compte</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">mot de passe oubliée?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<script type="application/x-javascript">
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<div class="body">
  <!-- main -->
  <div class="main-w3layouts wrapper">
    <h1>Creative SignUp Form</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="#" method="post">
          <!--
          <input
            class="text"
            type="text"
            name="Username"
            placeholder="Username"
            required=""
          />-->

          <input
            class="text email"
            type="email"
            name="email"
            placeholder="Email"
            required=""
          />
          <input
            class="text w3lpass"
            type="password"
            name="password"
            placeholder="Confirmr mot de passe"
            required=""
          />
          <div class="wthree-text">
            <label class="anim">
              <input type="checkbox" class="checkbox" required="" />
              <span
                >j'accepte les termes et conditions et la politique de
                confidentialité</span
              >
            </label>
            <div class="clear"></div>
          </div>
          <input type="submit" value="VALIDER" />
        </form>
        <p>Don't have an Account? <a href="#"> Login Now!</a></p>
      </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
      <p></p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- //main -->
</div>
