.btn1 {
  background-color: #4caf50;
  border-radius: 100%;
  color: white;
  width: 40px;
  height: 40px;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  border-width: 4px !important;
  border-color: #4caf50 !important;
  text-align: center !important;
  line-height: 15px;
}
.btn2:checked,
.btn2:active {
  background-color: #2196f3;
  border-radius: 50%;
  border-width: 4px;
  border-color: #000;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
}
.btn2 {
  border-radius: 100%;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #f44336;
  border-radius: 50%;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center !important;
  line-height: 10px;
  /* width: 56px;*/
}
.btn1:checked,
.btn1:active {
  background-color: #2196f3;
  border-radius: 50%;
  border-width: 4px;
  border-color: #000;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #f8f9fa;
}
